@use "base";

.container-change {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-change {
  width: 450px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
}

.navigate-change {
  padding: 25px 0 0 25px;
}

.content-change {
  padding: 0 75px 75px;
  width: 100%;
  text-align: center;

  @include base.mobile {
    padding: 0 50px 33px 50px;
  }
}

.form-title {
  line-height: 1.2;
  font-size: 24pt;
  font-weight: 900;
}
