@use "base";

.container-home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.block {
  &-home {
    display: flex;
    width: 90%;
    height: 90vh;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-image: url("/img/wallpaper_main.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-wallet-function {
    width: 10%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .function {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 5px 0;
      border-radius: 20px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
      .icon {
        user-select: none;
        font-size: 20pt;
        color: #fff;
      }
      span {
        user-select: none;
        font-size: 12pt;
        color: #fff;
      }
    }
    img.logo {
      user-select: none;
      padding: 10px;
      position: absolute;
      top: 30px;
    }
    .logout {
      user-select: none;
      cursor: pointer;
      font-size: 20pt;
      color: #fff;
      border-radius: 20px;
      padding: 20px;
      position: absolute;
      bottom: 30px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  &-wallet-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    background-color: rgb(230, 255, 255);
    border-radius: 50px;
    padding: 25px;
    .user-bar {
      width: 100%;
      display: flex;
      .user-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .input-group {
          margin: 0 25px 0 10px;
          .search-input {
            border-radius: 50px;
            padding: 0 20px;
          }
        }
        .user-block {
          display: flex;
          margin-right: 10px;
          .user-info {
            margin-left: 15px;
            white-space: nowrap;
          }
        }
      }
    }
    .wallet-content {
      display: flex;
      height: 100%;
      .wallet {
        padding: 10px 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        .money-block {
          width: 50%;
          background-color: #fff;
          padding: 20px 25px;
          border-radius: 20px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          &.hover:hover {
            background-color: rgba(20, 255, 255, 0.5);
            outline: 2px solid rgb(120, 255, 255);
          }
        }
        .history {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          padding: 20px 25px;
          border-radius: 20px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
      }
      .cards {
        font-size: 16pt;
        padding: 25px;
        color: #fff;
        border-radius: 35px;
        background-color: #001a33;
        .card-block {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 15px;
          font-size: 12pt;
          width: 100%;
          height: 28%;
          border-radius: 25px;
          margin: 15px 0;
          .name-card {
            font-size: 16pt;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.h-rule-bottom {
  margin: 10px;
  border-bottom: 1px solid lightgray;
}
