<div class="block-change show-alert">
  <div class="progress-spinner">
    <div class="spinner-border spinner-color" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="container-change">
    <div class="wrap-change">
      <div class="navigate-change">
        <button
          class="btn-back me-2 <%= firstLogin=='true' ? 'first' : ''%>"
          id="back"
        >
          <i class="fa-solid fa-angle-left"></i>
        </button>
      </div>
      <div class="content-change">
        <div class="form-title mb-4">ĐỔI MẬT KHẨU</div>
        <form id="form-change">
          <% if (firstLogin == "false") { %>
          <div class="label mb-1">Mật khẩu cũ</div>
          <div
            class="wrap-input validate-input"
            data-validate="Old password required"
          >
            <input
              class="form-control input-square"
              id="oldPassword"
              type="password"
            />
          </div>
          <% } %>
          <div class="label mb-1">Mật khẩu mới</div>
          <div
            class="wrap-input validate-input"
            data-validate="New password required"
          >
            <input
              class="form-control input-square"
              id="newPassword"
              type="password"
            />
          </div>
          <div class="label mb-1">Xác nhận mật khẩu mới</div>
          <div
            class="wrap-input validate-input"
            data-validate="Confirm password required"
          >
            <input
              class="form-control input-square"
              id="newPassword2"
              type="password"
            />
          </div>
          <div class="mt-4">
            <button class="btn btn-next" type="submit">Tiếp tục</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
