<div class="block-forgot show-alert">
  <div class="progress-spinner">
    <div class="spinner-border spinner-color" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="container-forgot">
    <div class="wrap-forgot">
      <div class="navigate-forgot">
        <button class="btn-back me-2" onClick="window.location='/'">
          <i class="fa-solid fa-angle-left"></i>
        </button>
      </div>
      <div class="content-forgot">
        <div class="form-title mb-4">QUÊN MẬT KHẨU</div>
        <p class="text-secondary">Vui lòng nhập email để lấy lại mật khẩu</p>
        <image src="/img/email-logo.png" alt="Email Logo" width="200"></image>
        <form id="form-forgot">
          <div class="label mb-1">Email</div>
          <div class="wrap-input validate-input" data-validate="Email required">
            <input
              class="form-control input-square"
              id="email"
              type="text"
              placeholder="Nhập email"
            />
          </div>
          <div class="mt-4">
            <button class="btn btn-next" type="submit">Tiếp tục</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
