<div class="container-home">
  <div class="block-home show-alert">
    <div class="progress-spinner">
      <div class="spinner-border spinner-color" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="block-wallet-function">
      <img class="logo" src="/img/logo.png" alt="Logo" width="70" />
      <div class="function" id="home" href="/">
        <i class="icon bi bi-house"></i>
        <span class="mt-1">Home</span>
      </div>
      <div class="function" id="history" href="/history">
        <i class="icon bi bi-clock-history"></i>
        <span class="mt-1">History</span>
      </div>
      <div class="function" id="account" href="/account">
        <i class="icon bi bi-person"></i>
        <span class="mt-1">Account</span>
      </div>
      <i
        class="logout bi bi-box-arrow-right"
        onClick="window.location='/logout'"
      ></i>
    </div>
    <div class="block-wallet-content">
      <div class="user-bar mb-4">
        <div class="user-container">
          <div class="input-group">
            <input
              type="text"
              class="search-input form-control"
              placeholder="Search"
            />
          </div>
          <div class="user-block">
            <div class="user-avatar">
              <img src="/img/avatar.png" alt="Avatar" width="50" />
            </div>
            <div class="user-info">
              <div class="user-name">
                <% if (user) { %> <%= user.name %> <% } %>
              </div>
              <div class="user-role text-secondary">
                <% if (user) { %> <%= user.role %> <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wallet-content">
        <div class="wallet col-8">
          <h3 class="mb-3">Thông tin tài khoản</h3>
          <div class="d-flex justify-content-between">
            <div class="money-block me-3">
              <span class="text-secondary" style="font-size: 12pt">Số dư</span>
              <div class="d-flex justify-content-between">
                <div class="mt-3 d-flex">
                  <span style="font-size: 14pt; margin-right: 5px">VND</span>
                  <h4 class="current-money ms-3">
                    <%= user.money.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                    "."); %>
                  </h4>
                </div>
              </div>
            </div>
            <div class="money-block ms-3">
              <span class="text-secondary" style="font-size: 12pt"
                >Trạng thái</span
              >
              <div class="d-flex justify-content-between">
                <div class="mt-3 d-flex">
                  <h4 class="current-status"><%= user.status %></h4>
                </div>
              </div>
            </div>
          </div>
          <h3 class="mb-3 mt-5">Quản lý ví</h3>
          <div class="d-flex justify-content-between">
            <div
              class="money-block hover mx-4 mb-5 d-flex align-items-center"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#nap-tien-modal"
            >
              <i
                class="col-4 text-center bi bi-download"
                style="font-size: 30pt"
              ></i>
              <span class="col-8" style="font-size: 20pt">Nạp tiền</span>
            </div>
            <div
              class="money-block hover mx-4 mb-5 d-flex align-items-center"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#rut-tien-modal"
            >
              <i
                class="col-4 text-center bi bi-upload"
                style="font-size: 30pt"
              ></i>
              <span style="font-size: 20pt">Rút tiền</span>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div
              class="money-block hover mx-4 mb-5 d-flex align-items-center"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#chuyen-tien-modal"
            >
              <i
                class="col-4 text-center bi bi-arrow-left-right"
                style="font-size: 30pt"
              ></i>
              <span class="col-8" style="font-size: 20pt">Chuyển tiền</span>
            </div>
            <div
              class="money-block hover mx-4 mb-5 d-flex align-items-center"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#mua-the-modal"
            >
              <i
                class="col-4 text-center bi bi-card-heading"
                style="font-size: 30pt"
              ></i>
              <span style="font-size: 20pt">Mua thẻ</span>
            </div>
          </div>
        </div>
        <div class="cards col-4">
          <span>Danh sách thẻ</span>
          <div class="card-block" style="background-color: goldenrod">
            <div class="d-flex justify-content-between">
              <span class="name-card">Thẻ 1</span>
              <img src="/img/visa.png" alt="Visa" width="60" height="20" />
            </div>
            <div class="d-flex flex-column">
              <span>111111</span>
              <div class="d-flex justify-content-between">
                <span>10/10/2022</span>
                <span>411</span>
              </div>
            </div>
          </div>
          <div class="card-block" style="background-color: #0066cc">
            <div class="d-flex justify-content-between">
              <span class="name-card">Thẻ 2</span>
              <img
                src="/img/master-card.png"
                alt="Master Card"
                width="50"
                height="38"
              />
            </div>
            <div class="d-flex flex-column">
              <span>222222</span>
              <div class="d-flex justify-content-between">
                <span>11/11/2022</span>
                <span>443</span>
              </div>
            </div>
          </div>
          <div class="card-block" style="background-color: grey">
            <div class="d-flex justify-content-between">
              <span class="name-card">Thẻ 3</span>
              <img src="/img/jcb.png" alt="JCB" width="50" height="37" />
            </div>
            <div class="d-flex flex-column">
              <span>333333</span>
              <div class="d-flex justify-content-between">
                <span>12/12/2022</span>
                <span>577</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Xac minh modal -->
<div
  class="modal fade"
  id="xac-minh-modal"
  tabindex="-1"
  aria-labelledby="xac-minh-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <h5 class="modal-title" id="xac-minh-modal-label">Xác minh</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Tính năng này chỉ dành cho các tài khoản đã được xác minh
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Đã hiểu
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Nap tien modal -->
<div
  class="modal fade"
  id="nap-tien-modal"
  tabindex="-1"
  aria-labelledby="nap-tien-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nap-tien-modal-label">Nạp tiền</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="form-nap-tien">
        <div class="modal-body">
          <div class="px-5">
            <div class="form-group my-2">
              <label>Số thẻ:</label>
              <input class="form-control" id="card-number" type="text" />
            </div>
            <div class="d-flex">
              <div class="form-group col-6 my-2 pe-2">
                <label>Ngày hết hạn:</label>
                <input
                  class="form-control"
                  id="exp-date"
                  type="text"
                  onfocus="(this.type = 'date')"
                  onblur="if (!this.value) this.type = 'text'"
                />
              </div>
              <div class="form-group col-6 my-2 ps-2">
                <label>Mã CVV:</label>
                <input class="form-control" id="cvv" type="text" />
              </div>
            </div>
            <div class="form-group my-2">
              <label>Số tiền:</label>
              <input class="form-control" id="amount" type="number" />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-success" type="submit" data-bs-dismiss="modal">
            Nạp tiền
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Rut tien modal -->
<div
  class="modal fade"
  id="rut-tien-modal"
  tabindex="-1"
  aria-labelledby="rut-tien-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rut-tien-modal-label">Rút tiền</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="form-rut-tien">
        <div class="modal-body">
          <div class="px-5">
            <div class="form-group my-2">
              <label>Số thẻ:</label>
              <input class="form-control" id="w-card-number" type="text" />
            </div>
            <div class="d-flex">
              <div class="form-group col-6 my-2 pe-2">
                <label>Ngày hết hạn:</label>
                <input
                  class="form-control"
                  id="w-exp-date"
                  type="text"
                  onfocus="(this.type = 'date')"
                  onblur="if (!this.value) this.type = 'text'"
                />
              </div>
              <div class="form-group col-6 my-2 ps-2">
                <label>Mã CVV:</label>
                <input class="form-control" id="w-cvv" type="text" />
              </div>
            </div>
            <div class="form-group my-2">
              <label>Số tiền:</label>
              <input class="form-control" id="w-amount" type="number" />
            </div>
            <div class="form-group my-2">
              <label>Nội dung:</label>
              <input class="form-control" id="w-message" type="text" />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-danger" type="submit" data-bs-dismiss="modal">
            Rút tiền
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Chuyen tien modal -->
<div
  class="modal fade"
  id="chuyen-tien-modal"
  tabindex="-1"
  aria-labelledby="chuyen-tien-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chuyen-tien-modal-label">Chuyển tiền</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="form-chuyen-tien">
        <div class="modal-body">
          <div class="px-5">
            <div class="form-group my-2">
              <label>SDT người nhận:</label>
              <input class="form-control" id="t-phone-number" type="text" />
            </div>
            <div class="form-group my-2">
              <label>Số tiền:</label>
              <input class="form-control" id="t-amount" type="number" />
            </div>
            <div class="form-group my-2">
              <label>Nội dung:</label>
              <input class="form-control" id="t-message" type="text" />
            </div>
            <div class="form-group my-2">
              <label>Người chịu phí:</label>
              <select class="form-select" type="text" id="t-fee">
                <option value="sender">Người gửi</option>
                <option value="receiver">Người nhận</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">
            Chuyển tiền
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<button
  class="d-none"
  id="btn-otp"
  data-bs-toggle="modal"
  data-bs-target="#otp-modal"
></button>
<!-- OTP modal -->
<div
  class="modal fade"
  id="otp-modal"
  tabindex="-1"
  aria-labelledby="otp-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="otp-modal-label">Nhập OTP</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="form-otp">
        <div class="modal-body">
          <div class="px-5">
            <div class="form-group my-2">
              <label>Nhập OTP:</label>
              <input class="form-control" id="otp" type="text" />
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-primary" type="submit" data-bs-dismiss="modal">
            Xác nhận
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Mua the modal -->
<div
  class="modal fade"
  id="mua-the-modal"
  tabindex="-1"
  aria-labelledby="mua-the-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mua-the-modal-label">Mua thẻ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form id="form-mua-the">
        <div class="modal-body">
          <div class="px-5">
            <div class="form-group my-2">
              <label for="nhacungcap">Nhà cung cấp</label>
              <select class="form-select" id="nhacungcap">
                <option value="Viettel">Viettel</option>
                <option value="Mobifone">Mobifone</option>
                <option value="Vinaphone">Vinaphone</option>
              </select>
            </div>
            <div class="form-group my-2">
              <label for="menhgia">Mệnh giá</label>
              <select class="form-select" id="menhgia">
                <option value="10000">10.000</option>
                <option value="20000">20.000</option>
                <option value="50000">50.000</option>
                <option value="100000">100.000</option>
              </select>
            </div>
            <div class="form-group my-2">
              <label for="soluong">Số lượng</label>
              <select class="form-select" id="soluong">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-success" type="submit" data-bs-dismiss="modal">
            Xác nhận
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<button
  class="d-none"
  id="card-detail"
  data-bs-toggle="modal"
  data-bs-target="#mua-the-detail-modal"
></button>
<!-- Mua the detail modal -->
<div
  class="modal fade"
  id="mua-the-detail-modal"
  tabindex="-1"
  aria-labelledby="mua-the-detail-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mua-the-detail-modal-label">Mua thẻ</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body card-data"></div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-success" type="submit" data-bs-dismiss="modal">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
